<!DOCTYPE html>
<html>
    <head>
        <title>Duc's blog</title>
    </head>
    <body>

        <header>
            <h1><a href = "/">Duc's blog</a></h1>
        </header>
            
        <article>
            <time>published: 14.06.2024, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Morbi tempus iaculis urna id volutpat lacus. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Tempus iaculis urna id volutpat lacus laoreet non. Ut lectus arcu bibendum at varius vel. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper.</p>
        </article>

        <article>
            <time>published: 14.06.2024, 12:11</time>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Morbi tempus iaculis urna id volutpat lacus. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Tempus iaculis urna id volutpat lacus laoreet non. Ut lectus arcu bibendum at varius vel. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper.</p>
        </article>
    </body>
</html>